@charset "UTF-8";
/* Standard CSS custom properties ((Critical: All) */
:root {
  /* Typography */
  --font-family-default: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  --font-size-display: 2.25rem;
  --font-size-x-large: 1.75rem;
  --font-size-large: 1.5rem;
  --font-size-medium: 1.25rem;
  --font-size-default: 1rem;
  --font-size-small: 0.8rem;
  --font-size-x-small: 0.75rem;
  --font-weight-default: 400;
  --font-weight-bold: 700;
  --font-weight-black: 900;
  --line-height-text: 1.3;
  --line-height-heading: 1.2;
  --line-height-alt: 1;
  /* Colour */
  --ucla-gold: #ffd100;
  --ucla-blue: #2774ae;
  --ucla-lightest-blue: #daebfe;
  --ucla-lighter-blue: #8bb8e8;
  --ucla-darker-blue: #005587;
  --ucla-darkest-blue: #003b5c;
  --ucla-darker-gold: #ffc72c;
  --ucla-darkest-gold: #ffb81c;
  --ucla-cyan: #0ff;
  --ucla-magenta: #ff00a5;
  --ucla-green: #00ff87;
  --ucla-janss-steps-green: #32aa56;
  --ucla-yellow: #ff0;
  --ucla-purple: #8a69d4;
  --ucla-black: #000;
  --ucla-black-90: #1a1a1a;
  --ucla-black-80: #333;
  --ucla-black-70: #4d4d4d;
  --ucla-black-60: #666;
  --ucla-black-50: #808080;
  --ucla-black-40: #999;
  --ucla-black-30: #b3b3b3;
  --ucla-black-20: #ccc;
  --ucla-black-10: #e6e6e6;
  --ucla-white: #fff;
  --color-background: #f9f8f8;
  --color-background-selection: #c2bfba;
  --color-text-link: var(--color-theme);
  --color-text-link-visited: var(--color-text-link);
  --color-text-link-hover: var(--color-text-link);
  --color-text-link-active: var(--color-text-link);
  --color-text-link-focus: var(--color-text-link);
  --color-text-link-underline: var(--color-text-link);
  --ucla-blue: #2774ae;
  --ucla-gold: #ffd100;
  --white: #fff;
  --darker-blue: #005587;
  --darkest-blue: #003b5c;
  --lightest-blue: #daebfe;
  --light-blue: #2ba1fb;
  --lighter-blue: #8bb8e8;
  --lightest-gold: #fff0a5;
  --lighter-gold: #ffdf42;
  --darker-gold: #ffc72c;
  --darkest-gold: #ffb81c;
  --yellow: #ff0;
  --green: #00ff87;
  --magenta: #ff00a5;
  --cyan: #0ff;
  --purple: #8237ff;
  --black: #000;
  --cmyk-yellow: #ffea00;
  --cmyk-green: #35b558;
  --cmyk-magenta: #ec008c;
  --cmyk-cyan: #20c4f4;
  --cmyk-purple: #6658a6;
  --cmyk-black: #23191c;
  --grey-5: #f2f2f2;
  --grey-10: #e5e5e5;
  --grey-40: #999;
  --grey-60: #666;
  --grey-80: #333;
  --grey: #333;
  --lightest-grey-2: #ebebeb;
  --light-grey: #e7e7e8;
  --dark-grey: #262626;
  --lightest-grey: #757575;
  --lighter-grey: #454545;
  --medium-grey: #424242;
  --medium-grey2: #525252;
  --medium-grey3: #ccc;
  --medium-grey4: #666;
  --medium-grey5: #333;
  --default-state: #00598c;
  --hover-state: #0079bf;
  --active-state: #003b5c;
  --focus-state: #0079bf;
  --disabled-state: #757575;
  --visited-state: #5223b0;
  --default-state-dark: #ffd100;
  --hover-state-dark: #ffe500;
  --active-state-dark: #ffbf0f;
  --focus-state-dark: #ffe500;
  --disabled-state-dark: ##e5e5e5;
  --visited-state-dark: #cfc3f3;
  --error-red: #d60000;
  --error-red-20: #f7cccc;
  --success-green: #007339;
  --success-green-20: #cce3d7;
  --warning-orange: #f57f17;
  --warning-orange-20: #fde5d1;
  --primary-alert-blue: #8bb8e8;
  --primary-alert-blue-20: #e8f1fa;
  --secondary-alert-grey: #999;
  --secondary-alert-grey-10: ##e5e5e5;
  --button-hover: #fe0;
  --button-active: #ffbf0f;
  --default-blue-opaque: rgb(0 89 140 / 85%);
  --default-blue-opaque-hover: rgb(0 121 191 / 85%);
  --emergency-bg: #f7cccc;
  --emergency-bg-light: #e5e5e5;
  --emergency-border: #d60000;
  /* Borders */
  --border-width-hairline: 0.5px;
  --border-width-thin: 1px;
  --border-width-thick: 2px;
  --border-radius: 0.25rem;
  /* Layout */
  --grid-column-gap: 2vw;
  --gap: 1.5rem;
  --grid-row-gap: 2vh;
  --max-width: 74rem;
  /* Spacing */
  --spacing-0: 0;
  --spacing-1: 0.125rem;
  --spacing-2: 0.25rem;
  --spacing-3: 0.5rem;
  --spacing-4: 0.75rem;
  --spacing-5: 1rem;
  --spacing-6: 1.5rem;
  --spacing-7: 2rem;
  --spacing-8: 3rem;
  --spacing-9: 4rem;
  --spacing-10: 5rem;
  --duration-immediately: 0.1s;
  --duration-instantly: 0;
  --duration-promptly: 0.5s;
  --duration-quickly: 0.2s;
  --duration-slowly: 1s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--darkest-blue);
    --color-background-selection: #f5f5f3;
    --color-base: #f3f2f1;
    --color-border: #c2bfba;
    --color-logomark: var(--ucla-blue);
    --color-logotype: #fff;
    --color-text-default: #fff;
  }
  [data-theme=ucla-dark] {
    --color-theme: #00598c;
  }
  [data-theme=ucla-light] {
    --color-theme: #00598c;
  }
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
::-moz-selection {
  background-color: var(--color-background-selection);
  text-shadow: none;
}

::selection {
  background-color: var(--color-background-selection);
  text-shadow: none;
}

body {
  padding: 0;
}

/* Article (Critical: All) */
article {
  margin-bottom: var(--spacing-6);
}

/* header */
address p {
  margin: 0;
  padding-bottom: 0;
}

address .p-org {
  font-weight: bold;
  font-size: var(--font-size-medium);
}

.site-name {
  color: black;
  margin-top: 1em;
}
@media (min-width: 48em) {
  .site-name {
    margin-top: 1em;
  }
}

.site-name a,
.site-name a:hover,
.site-name a:active,
.site-name a:visited {
  color: black !important;
}

p {
  margin-block-end: var(--spacing-5);
}

/* Improve dark mode readability (Critical: All) */
@media (prefers-color-scheme: dark) {
  p {
    word-spacing: 0.05em;
  }
}
/* Rules (Critical: All) */
hr {
  border: 0;
  border-bottom: var(--border-width-thin) solid var(--color-border);
  clear: both;
  display: block;
  height: 1px;
  margin: var(--spacing-5) 0;
  padding: 0;
}

hr.alt--large {
  margin: var(--spacing-8) 0;
}

hr.alt--spacer {
  margin: var(--spacing-3) 0;
  border-bottom-width: 0;
}

/* Block quotes (Critical: All) */
blockquote {
  margin: var(--spacing-5) 0;
  padding: 0;
}

blockquote p {
  font-size: var(--font-size-large);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  line-height: 1.2;
  margin-block-end: 0;
}

blockquote p + p.secondary {
  font-size: var(--font-size-default);
  margin-block-start: 0;
}

blockquote cite {
  display: block;
  padding-block-start: var(--spacing-5);
  font-size: var(--font-size-small);
}

/* Lists (Critical: All) */
ul.ucla-ps-c-list {
  margin-inline-start: 0;
  padding-inline-start: 0;
  list-style-type: none;
}

ul.ucla-ps-c-button-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  gap: 2em;
  margin-inline-start: 0;
  padding-inline-start: 0;
  list-style-type: none;
}
ul.ucla-ps-c-button-list li + li {
  margin-top: 0;
}

ol li {
  margin-block-end: var(--spacing-3);
  line-height: var(--line-height-text);
}

/* Figures (Critical: All) */
figcaption {
  font-size: var(--font-size-small);
}

details {
  border: 2px solid var(--ucla-blue);
  padding: 0.5em 0.5em 0;
  margin-block-end: 1rem;
}

summary {
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
  font-weight: bold;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  color: var(--ucla-blue);
  margin-bottom: 0.5em;
}

details .wp-block-table thead {
  border-bottom: 2px solid var(--ucla-gold);
}

details .wp-block-table th {
  padding: 0.25em;
}

.acf-blocks-container > *:not(.c-featured-stories) {
  max-width: var(--max-width);
  margin: var(--spacing-8) auto;
}
@media (max-width: 37.5em) {
  .acf-blocks-container > *:not(.c-featured-stories) {
    margin-inline-start: var(--spacing-4);
    margin-inline-end: var(--spacing-4);
  }
}

.c-section-block {
  max-width: var(--max-width);
  margin: var(--spacing-8) auto;
}

.c-section-block-heading {
  background-color: var(--ucla-gold);
  max-width: fit-content;
  vertical-align: middle;
  height: auto;
  padding: var(--spacing-3);
}

.c-text {
  max-width: var(--max-width);
  margin: var(--spacing-8) auto;
}

.c-oembed-list,
.ucla-ps-c-oembeds {
  display: flex;
  gap: var(--gap);
  justify-content: center;
  max-width: var(--max-width);
  margin: var(--spacing-8) auto;
}
.c-oembed-list figure,
.ucla-ps-c-oembeds figure {
  width: 100%;
}
.c-oembed-list figcaption,
.ucla-ps-c-oembeds figcaption {
  margin-block: var(--spacing-4);
  font-size: var(--font-size-medium);
}
.c-oembed-list iframe,
.ucla-ps-c-oembeds iframe {
  aspect-ratio: 16/9;
  object-fit: fill;
  width: 100%;
}

.c-image-block img {
  object-fit: fill;
  width: 100%;
}

@media (min-width: 48em) {
  .stat-set {
    display: block;
  }
}

/* Cards  ((Critical: All) */
.c-school-card-stack {
  width: 100%;
  background-color: #f2f2f2;
  padding: var(--spacing-6) 0;
  margin-block-end: var(--spacing-8);
}

.c-schoool-cards-intro {
  max-width: var(--max-width);
  margin: auto;
}

.c-school-card-stack > article {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--grid-column-gap);
  align-items: start;
  margin: var(--spacing-8) auto;
  width: 94%;
  background-color: #fff;
  padding: var(--spacing-5);
}

.c-school-card-content {
  margin-block-start: var(--spacing-8);
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "title ribbon" "intro intro";
  gap: var(--gap);
}

.c-school-card__title {
  grid-area: title;
  align-self: end;
}

.c-school-card__ribbon {
  grid-area: ribbon;
  justify-self: end;
  margin-inline-end: -2em;
  padding: var(--spacing-3);
  width: fit-content;
  height: fit-content;
  background: #ffd100;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
}

.school-card__info {
  grid-area: intro;
  margin-inline-end: 2em;
}

.c-school-cards .lede {
  max-width: 75ch;
}

.c-school-card-image {
  margin-block-start: -2em;
  align-items: start;
}
@media (min-width: 48em) {
  .c-school-card-image {
    min-width: 400px;
  }
}

.c-school-cards > h2 + p {
  font-size: var(--font-size-medium);
  line-height: var(--line-height-text);
}

.c-school-card-image img {
  object-fit: cover;
  height: 400px;
  width: 400px;
  aspect-ratio: 1/1;
}

.school-card__title h2 {
  color: #00598C;
  width: fit-content;
}

.story__secondary {
  display: grid;
  grid-column-gap: var(--grid-column-gap);
  grid-row-gap: var(--grid-row-gap);
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
}

div.ctct-form-wrapper {
  margin-block-start: 2rem;
  margin-block-end: 2rem;
}

form.ctct-form {
  display: flex;
  flex-direction: column;
}
@media (min-width: 30em) {
  form.ctct-form {
    flex-direction: row;
    align-items: end;
    gap: 1rem;
  }
}
form.ctct-form abbr[title=required] {
  color: #d60000;
  font-weight: bolder;
}

span.ctct-label-top {
  color: #333;
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  margin-block-end: 8px;
}

.ctct-email {
  background-color: #f2f2f2;
  border: 1px solid #666;
  border-radius: 4px;
  width: 100%;
  max-width: 100%;
  padding: 0.563rem 1rem;
}
.ctct-email::placeholder {
  color: #999;
}
.ctct-email:focus {
  outline: 2px solid #00568c;
}

.ctct-submitted {
  background-color: #00598c;
  color: #fff;
  border: 2px solid transparent;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.625rem 0.875rem;
  cursor: pointer;
  border-radius: 4px;
  line-height: 1.25;
  display: inline-flex;
  align-items: center;
}
.ctct-submitted:hover {
  background-color: #0079bf;
}
.ctct-submitted:focus {
  outline-offset: 1px;
  outline: 1px solid #00568c;
}
.ctct-submitted:active {
  background-color: #003b5c;
}

.ctct-disclosure {
  display: none;
}

.vevent {
  padding-block-end: var(--spacing-5);
}

.event-date-start {
  display: block;
  font-size: var(--font-size-medium);
  font-weight: 700;
}

.event-time-start,
.event-time-end,
.event-venue {
  font-size: var(--font-size-medium);
}

.event-contact {
  margin-block: var(--spacing-8);
}

.event-contact-name,
.event-contact-email,
.event-content-tel {
  display: block;
}

.c-events .h-feed {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
  gap: var(--spacing-9);
  max-width: var(--max-width);
  margin: var(--spacing-8) auto;
}

.c-featured-story-card {
  margin: 1em 0;
  display: block;
}

.c-featured-stories:first-of-type {
  width: 100%;
  padding-block-end: 0.5em;
  background: linear-gradient(180deg, #005587 0%, #2774AE 100%);
  margin: var(--spacing-8) 0;
}

[data-layout*=c-gateway] {
  display: grid;
  gap: var(--grid-column-gap);
  margin: var(--spacing-8) var(--spacing-6);
  max-width: var(--max-width);
  transform: translateY(-24px);
}

@media (min-width: 48em) {
  [data-layout*=c-gateway] {
    display: grid;
    gap: var(--grid-column-gap);
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "🐻 🐻" "🏀 🏈";
    margin: var(--spacing-8);
  }
  [data-layout*=c-gateway] > :nth-child(1) {
    grid-area: 🐻;
  }
  [data-layout*=c-gateway] > :nth-child(2) {
    grid-area: 🏀;
  }
  [data-layout*=c-gateway] > :nth-child(3) {
    grid-area: 🏈;
  }
  [data-layout*=c-gateway] > :first-child h2 {
    padding: 1em 1em 0.8em;
    width: 66%;
    font-weight: 600;
  }
  [data-layout*=c-gateway] > :not(:first-child) h2 {
    width: 80%;
    padding: 0.75em 1em 0.5em;
    font-size: 1em;
    font-weight: 600;
  }
}
@media (min-width: 64em) {
  [data-layout*=c-gateway] {
    display: grid;
    gap: var(--gap);
    grid-template-columns: 2.5fr 1fr;
    grid-template-areas: "🐻 🏀" "🐻 🏈";
    margin: var(--spacing-8) auto;
  }
}
[data-layout*=c-gateway] > article {
  margin-block-end: var(--spacing-8);
}

[data-layout*=c-gateway] > article {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  margin-block-end: var(--spacing-6);
}
[data-layout*=c-gateway] > article > * {
  grid-row: 1;
  grid-column: 1/-1;
}
[data-layout*=c-gateway] > article > figure {
  z-index: 1;
  padding: 0;
  margin: 0;
}
[data-layout*=c-gateway] > article > div {
  z-index: 2;
  height: fit-content;
  align-self: end;
}
[data-layout*=c-gateway] > article h2 {
  position: relative;
  background-color: var(--ucla-white);
  color: var(--ucla-blue);
}
[data-layout*=c-gateway] > article h2::before {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: 16px;
  width: 64px;
  height: 4px;
  background: var(--ucla-gold);
  margin-block-end: 24px;
}
[data-layout*=c-gateway] > article h2:hover {
  background-color: var(--ucla-blue);
  color: var(--ucla-white);
}
[data-layout*=c-gateway] > article .p-summary,
[data-layout*=c-gateway] > article .dt-published {
  display: none;
}
[data-layout*=c-gateway] > article img {
  aspect-ratio: 3/2;
  width: 100%;
  object-fit: cover;
}
[data-layout*=c-gateway] > article a,
[data-layout*=c-gateway] > article a:link {
  color: inherit;
  background-color: inherit;
}

[data-layout*=c-newsroom] {
  margin: var(--spacing-8) var(--spacing-5);
  width: 100%;
}

[data-layout*=c-newsroom] img {
  aspect-ratio: 3/2;
  object-fit: cover;
  max-width: 100%;
}

[data-layout*=c-newsroom] > :nth-child(1) h2 {
  padding-block-start: var(--spacing-5);
  font-size: var(--font-size-large);
  line-height: 1.2;
}
[data-layout*=c-newsroom] > :nth-child(1) h2 > a {
  text-decoration: none;
}
[data-layout*=c-newsroom] > :nth-child(1) p {
  padding-block-end: var(--spacing-8);
}
[data-layout*=c-newsroom] > :nth-child(1) .dt-published {
  display: none;
}

[data-layout*=c-newsroom] > :not(:nth-child(1)) h2 {
  margin-block-start: var(--spacing-5);
}
[data-layout*=c-newsroom] > :not(:nth-child(1)) a,
[data-layout*=c-newsroom] > :not(:nth-child(1)) a:link {
  text-decoration: none;
}
[data-layout*=c-newsroom] > :not(:nth-child(1)) .p-summary,
[data-layout*=c-newsroom] > :not(:nth-child(1)) .dt-published {
  display: none;
}

@media (min-width: 64em) {
  [data-layout*=c-newsroom] {
    display: grid;
    gap: var(--gap);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "🐻 🐻 🐻" "🏀 ⚽️ 🏈";
    max-width: var(--max-width);
    margin: var(--spacing-8) auto;
  }
  [data-layout*=c-newsroom] > :nth-child(2) {
    grid-area: 🏀;
  }
  [data-layout*=c-newsroom] > :nth-child(3) {
    grid-area: ⚽️;
  }
  [data-layout*=c-newsroom] > :nth-child(4) {
    grid-area: 🏈;
  }
  [data-layout*=c-newsroom] > :nth-child(1) {
    grid-area: 🐻;
    display: grid;
    grid-template-areas: "story";
    align-items: center;
  }
  [data-layout*=c-newsroom] > :nth-child(1) > figure {
    grid-area: story;
    justify-self: end;
    z-index: 1;
    max-width: 66%;
  }
  [data-layout*=c-newsroom] > :nth-child(1) > div {
    grid-area: story;
    z-index: 2;
  }
  [data-layout*=c-newsroom] > :nth-child(1) div > * {
    background-color: var(--ucla-white);
    max-width: 40%;
    padding-inline-end: var(--spacing-8);
  }
  [data-layout*=c-newsroom] > :nth-child(1) h2 {
    padding-block-start: var(--spacing-8);
    font-size: var(--font-size-x-large);
    line-height: 1.2;
    margin-block-end: 0;
  }
}
[data-layout*=c-stack] {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--gap);
  max-width: var(--max-width);
  margin: var(--spacing-8) auto;
  padding: 1.5rem;
}

[data-layout*=c-stack] img {
  aspect-ratio: 3/2;
  object-fit: cover;
  max-width: 100%;
}

[data-layout*=c-alt] {
  margin-block-end: var(--spacing-8);
}

.ucla-global-footer__list {
  margin-block-start: 1.5rem;
}

.ucla-dept-footer__body {
  justify-content: flex-start;
}

.ucla-dept-footer__info-address a:link,
.ucla-dept-footer__info-address a:active,
.ucla-dept-footer__info-address a:visited {
  color: #fff;
}

.ucla-header--school__logo-link > svg.ucla-ps-logo {
  height: 45px;
  width: 300px;
}

.ucla-main-nav {
  z-index: 100;
}

.nav-links > .next,
.nav-links > .prev {
  padding: 0.75em 1em;
}

.pagination {
  display: block;
}
.pagination a.page-numbers {
  padding: 12px 16px;
  text-decoration: none;
}
.pagination a.page-numbers:link {
  color: inherit;
}
.pagination a.page-numbers:hover {
  color: #fff !important;
  background: #0079bf;
}
.pagination a.page-numbers:focus {
  color: #fff !important;
  background: #0079bf;
  outline: 1px dotted #0079bf;
}
.pagination .nav-links {
  padding-inline-start: 0;
  display: flex;
  gap: 2px;
}
.pagination span.page-numbers.dots {
  display: inline-flex;
  align-items: center;
}
.pagination span.page-numbers.current {
  padding: 12px 16px;
  color: #757575;
}

.navigation.posts-navigation {
  display: none;
}

.ucla-ps-c-people {
  max-width: var(--max-width);
  margin: var(--spacing-8) var(--spacing-3);
}

@media (min-width: 48em) {
  .ucla-ps-c-people {
    max-width: var(--max-width);
    margin: var(--spacing-8) auto;
  }
}
.ucla-ps-c-people > .h-feed {
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  align-items: start;
}

.ucla-ps-c-people > .h-feed > .ucla-card__person {
  display: grid;
  height: 100%;
}
.ucla-ps-c-people > .h-feed > .ucla-card__person figure {
  z-index: 1;
}
.ucla-ps-c-people > .h-feed > .ucla-card__person .ucla-card__body {
  min-height: 200px;
}

.ucla-card__person .ucla-card__person-pronouns {
  font-weight: 600;
  font-size: 90%;
  color: #333;
}

.ucla-card__person .ucla-card__person-department {
  color: #333;
  font-weight: 700;
}

.ucla-card__person .ucla-card__person-pronouns + .ucla-card__person-department {
  margin-block-start: 0;
}

.ucla-card__person address {
  margin-block: 1em;
}

/* Posts styles */
.entry-content {
  max-width: var(--max-width);
  margin: var(--spacing-8) auto;
}

.archive-header {
  max-width: var(--max-width);
  margin-block: var(--spacing-8);
}

.archive-header h1 {
  margin-inline-start: 0;
}

.c-blog-posts {
  margin: 1em 0;
  display: block;
}

.u-max-width {
  max-width: var(--max-width);
  margin: var(--spacing-8) auto;
}

.c-blog-posts {
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  max-width: var(--max-width);
  margin: var(--spacing-8) auto;
}

.c-blog-posts article h3 {
  padding-top: var(--spacing-5);
  font-size: var(--font-size-large);
  line-height: 1.2;
}

.c-blog-posts article a {
  text-decoration: none;
}

.c-blog-posts article img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 8/5;
}

.c-videos {
  display: grid;
  gap: var(--gap);
  grid-template-columns: 1fr;
  max-width: var(--max-width);
  margin: var(--spacing-8) var(--spacing-5);
}

@media (min-width: 48em) {
  .c-videos {
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
    max-width: var(--max-width);
    margin: var(--spacing-8) auto;
  }
}
.c-video {
  margin-bottom: var(--spacing-6);
}

.c-video iframe {
  object-fit: fill;
  width: 100%;
  aspect-ratio: 16/9;
}

.entry-header > h1 {
  margin-top: var(--spacing-5);
  font-size: var(--font-size-x-large);
  line-height: var(--line-height-heading);
}
.entry-header > h1 a {
  color: inherit;
  text-decoration: none;
}

[data-layout*=c-single-post] {
  margin: var(--spacing-8) var(--spacing-5);
  width: 100%;
}

[data-layout*=c-single-post] img {
  aspect-ratio: 3/2;
  object-fit: cover;
  max-width: 100%;
}

[data-layout*=c-single-post] > :nth-child(1) h1,
[data-layout*=c-single-post] > :nth-child(1) h3 {
  color: var(--ucla-darker-blue);
  padding-block-start: var(--spacing-5);
  font-size: var(--font-size-display);
  line-height: 1.2;
}
[data-layout*=c-single-post] > :nth-child(1) h1 > a:link,
[data-layout*=c-single-post] > :nth-child(1) h2 > a:link,
[data-layout*=c-single-post] > :nth-child(1) h3 > a:link,
[data-layout*=c-single-post] > :nth-child(1) .wp-block-heading > a:not([class]) {
  text-decoration: none;
}
[data-layout*=c-single-post] > :nth-child(1) p:not(.lede) {
  padding-block-end: var(--spacing-8);
}
[data-layout*=c-single-post] > :nth-child(1) .dt-published {
  display: none;
}

[data-layout*=c-single-post] > :not(:nth-child(1)) h1,
[data-layout*=c-single-post] > :not(:nth-child(1)) h2,
[data-layout*=c-single-post] > :not(:nth-child(1)) h3 {
  margin-block: var(--spacing-5);
}
[data-layout*=c-single-post] > :not(:nth-child(1)) .p-summary,
[data-layout*=c-single-post] > :not(:nth-child(1)) .dt-published {
  display: none;
}
[data-layout*=c-single-post] > :not(:nth-child(1)) h1 > a:link,
[data-layout*=c-single-post] > :not(:nth-child(1)) h2 > a:link,
[data-layout*=c-single-post] > :not(:nth-child(1)) h3 > a:link,
[data-layout*=c-single-post] > :not(:nth-child(1)) .wp-block-heading > a:not([class]) {
  text-decoration: none;
}

[data-layout*=c-single-post] ul {
  display: flex;
  flex-direction: column;
}
[data-layout*=c-single-post] ul li {
  margin-block-end: var(--spacing-3);
}
[data-layout*=c-single-post] ul a:link {
  font-size: var(--font-size-small);
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  padding: var(--spacing-5);
  background-color: var(--ucla-gold);
  color: var(--ucla-darkest-blue);
}
[data-layout*=c-single-post] ul a:link:hover {
  background-color: var(--ucla-blue);
  color: var(--ucla-white);
}
[data-layout*=c-single-post] ul.post-categories a:link,
[data-layout*=c-single-post] ul.post-categories a:not([class]) {
  text-decoration: none;
}

@media (min-width: 64em) {
  [data-layout*=c-single-post] {
    display: grid;
    gap: var(--gap);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "🐻 🐻 🐻" "🏀 ⚽️ 🏈";
    max-width: var(--max-width);
    margin: var(--spacing-8) auto;
  }
  [data-layout*=c-single-post] > .entry-header {
    grid-area: 🐻;
    display: grid;
    grid-template-areas: "story";
    align-items: center;
  }
  [data-layout*=c-single-post] > .entry-header > figure {
    grid-area: story;
    justify-self: end;
    z-index: 1;
    max-width: 70%;
  }
  [data-layout*=c-single-post] > .entry-header > div {
    grid-area: story;
    z-index: 2;
    background-color: var(--ucla-white);
    max-width: 40%;
  }
  [data-layout*=c-single-post] > .entry-header div > * {
    padding-inline-end: var(--spacing-8);
  }
  [data-layout*=c-single-post] > .entry-header h3 {
    padding-block-start: var(--spacing-8);
    font-size: var(--font-size-x-large);
    line-height: 1.2;
    margin-block-end: 0;
  }
  [data-layout*=c-single-post] > .entry-content {
    grid-column: 1/-1;
  }
  [data-layout*=c-single-post] > .entry-content > * {
    margin-inline-start: 30%;
  }
  [data-layout*=c-single-post] > .entry-content .entry-content {
    max-width: var(--max-width);
    margin: var(--spacing-8) var(--spacing-3);
  }
}
@media (min-width: 64em) and (min-width: 48em) {
  [data-layout*=c-single-post] > .entry-content .entry-content {
    max-width: var(--max-width);
    margin: var(--spacing-8) auto;
  }
  [data-layout*=c-single-post] > .entry-content .entry-content > p:not(.standfirst) {
    max-width: 80ch;
  }
}
@media (min-width: 64em) {
  [data-layout*=c-single-post] > .entry-content figure:not(.wp-block-pullquote) {
    margin-block-end: var(--spacing-8);
  }
  [data-layout*=c-single-post] > .entry-content .wp-block-pullquote {
    margin-block: var(--spacing-6);
    padding: 1.75rem;
    border-left: 8px solid #2774ae;
    text-align: left;
  }
  [data-layout*=c-single-post] > .entry-content .wp-block-pullquote p,
  [data-layout*=c-single-post] > .entry-content .wp-block-pullquote cite {
    font-size: var(--font-size-x-large);
    max-width: 45ch;
  }
}
.footer-widget-container {
  margin: var(--spacing-8) auto;
  max-width: var(--max-width);
}

[class*=wp-block] {
  margin-block: var(--spacing-4);
}

[class*=wp-block-heading] {
  margin-block-start: var(--spacing-6);
  margin-block-end: var(--spacing-4);
}

.wp-block-embed {
  width: 50%;
  margin-block: var(--spacing-6);
  margin-inline: auto;
}

.wp-block-embed.alignwide {
  width: 100%;
}

.wp-block-embed.alignfull {
  width: 100%;
}

.wp-block-embed.is-type-video iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  max-width: initial;
}

.wp-block-group-is-layout-flex {
  gap: 1.5em;
}

.wp-block-separator.is-style-dots:before {
  font-size: 4em;
  letter-spacing: 0;
  padding-left: initial;
}

main > header {
  max-width: var(--max-width);
  margin: var(--spacing-8) auto;
}

main > article[class*=post] {
  max-width: var(--max-width);
  margin: var(--spacing-8) auto;
}

[class*=single] > article,
[class*=archive] > main,
[class*=archive] > article {
  max-width: var(--max-width);
  margin: var(--spacing-8) var(--spacing-3);
}

@media (min-width: 48em) {
  [class*=single] > article,
  [class*=archive] > main,
  [class*=archive] > article {
    margin: var(--spacing-8) auto;
  }
}
.ucla-ps-columns {
  column-width: 18em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: inherit;
}

.sr-only {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  border: 0;
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  white-space: nowrap;
}

.standfirst {
  font-size: var(--font-size-large);
  line-height: var(--line-height-text);
  margin-block-end: var(--spacing-3);
}

.lede {
  font-size: var(--font-size-medium);
  line-height: var(--line-height-text);
  margin-block-end: var(--spacing-3);
}

p + time {
  margin-top: 0;
}

.btn {
  width: fit-content;
}

.h1 {
  font-size: clamp(2.25rem, 0.8382rem + 2.9412vw, 3rem);
}

.h2 {
  font-size: clamp(1.75rem, 0.8382rem + 2.9412vw, 2.25rem);
  margin-block-start: 1em;
}

.h3 {
  font-size: clamp(1.25rem, 0.8382rem + 2.9412vw, 1.5rem);
  margin-block-start: 1em;
}

/*# sourceMappingURL=ucla-ps.css.map */
