/* Cards  ((Critical: All) */

.c-blog-posts .ucla-card {
  background-color: $grey-5;
}

.c-school-card-stack {
  width: 100%;
  background-color: $grey-5;
  padding: var(--spacing-6) 0;
  margin-block-end: var(--spacing-8);
  
}

.c-schoool-cards-intro {
  max-width: var(--max-width);
  margin: auto;
}

.c-school-card-stack > article:first-of-type {
  
}

.c-school-card-stack > article {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--grid-column-gap);
  align-items: start;
  margin: var(--spacing-8) auto;
  //max-width: var(--min-width);
  width: 94%;
  background-color: $white;
  padding: var(--spacing-5);
  //border: 1px solid red;
}

.c-school-card-content {
  margin-block-start: var(--spacing-8);
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
  "title ribbon"  
  "intro intro";
  gap: var(--gap);
}

.c-school-card__title {
  grid-area: title;
  align-self: end;
}

.c-school-card__ribbon {
  grid-area: ribbon;
  justify-self: end;
  margin-inline-end: -2em;
  padding: var(--spacing-3);
  width: fit-content;
  height: fit-content;
  background: $ucla-gold;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
}

.school-card__info {
  grid-area: intro;
  margin-inline-end: 2em;
}


.c-school-cards .lede {
  max-width: 75ch;
}

.c-school-card-image {
  margin-block-start: -2em;
  align-items: start;
  @media (min-width: $mq-md){
    min-width: 400px;
  }
}

.c-school-cards > h2+p {
  font-size: var(--font-size-medium);
  line-height: var(--line-height-text);
}

.c-school-card-image img {
  object-fit: cover;
  height: 400px;
  width: 400px;
  aspect-ratio: 1 / 1;
}


.school-card__title h2 {
  color: #00598C;
  width: fit-content;
}



.story__secondary {
  display: grid;
  grid-column-gap: var(--grid-column-gap);
  grid-row-gap: var(--grid-row-gap);
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
}

.ucla-ps-cards-grid {
  display: grid;
  grid-column-gap: var(--grid-column-gap);
  grid-row-gap: var(--grid-row-gap);
  grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
}

.ucla-card img {
  max-width: 300px;
}

.entry-content {
  max-width: reset;
}

.ucla-card__story-secondary:first-child {
  border-top: 0;
}

.ucla-card__story-secondary {
  border: 0;
}

[class*=wp-block] {
  margin-block: var(--spacing-3);
}

.wp-block-separator {
  border: 0;
}
