.ucla-global-footer__list {
  margin-block-start: 1.5rem;
}

.ucla-dept-footer__body {
  justify-content: flex-start;
}

.ucla-dept-footer__info-address a:link,
.ucla-dept-footer__info-address a:active,
.ucla-dept-footer__info-address a:visited {
  color: #fff;
}