main > header {
  max-width: var(--max-width);
  margin: var(--spacing-8) auto;
}

main > article[class*="post"]{
  max-width: var(--max-width);
  margin: var(--spacing-8) auto;
}

[class*="single"] > article,
[class*="archive"] > main,
[class*="archive"] > article {
  max-width: var(--max-width);
  margin: var(--spacing-8) var(--spacing-3);
}

@media (min-width: $mq-md){
 
 [class*="single"] > article,
 [class*="archive"] > main,
 [class*="archive"] > article  {
   margin: var(--spacing-8) auto;
 }
}



.ucla-ps-columns {
  column-width: 18em;
}

.ucla-grid {
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
}