/* Utilities ((Critical: All) */

.align--center {
text-align: center;
}

.align--right {
text-align: right;
}

.block--start {
display: flex;
flex-direction: column-reverse;
gap: var(--grid-column-gap);
}

.block--end {
display: flex;
flex-direction: column;
gap: var(--grid-column-gap);
}

.inset--start {
display: flex;
flex-direction: row-reverse;
gap: var(--grid-column-gap);
}

.inset--end {
display: flex;
flex-direction: row;
gap: var(--grid-column-gap);
}


/* Utilities */
.u-block-margin {
  margin-block-start: var(--spacing-8);
  margin-block-end: var(--spacing-8);
}

.u-block-margin-block-start {
  margin-block-start: var(--spacing-6);
}

.u-inline-margin {
  margin-inline-start: var(--spacing-8);
  margin-inline-end: var(--spacing-8);
}

.u-block-padding {
  padding-block-start: var(--spacing-8);
  padding-block-end: var(--spacing-8);
}

.u-inline-padding {
  padding-inline-start: var(--spacing-8);
  padding-inline-end: var(--spacing-8);
}

.u-padding--small {
  padding: var(--spacing-3);
}


